files:
  "/etc/td-agent/td-agent.conf":
    owner: root
    group: root
    content: |
      <system>
        log_level trace
      </system>
      <source>
        @type tail
        tag catalina.errors
        path /var/log/tomcat8/catalina.out
        pos_file /var/log/td-agent/tmp/catalina.out.pos
        <parse>
          @type multiline
          format_firstline /\d{4}-\d{1,2}-\d{1,2}/
          format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2}.\d{1,3})[ ]{1,}(?<level>[^\s]+)[ ]{1,}\d{1,}[ ]{1,}---[ ]{1,}\[(?<thread>.*)\] (?<message>(.|\n)*)/
        </parse>
        @log_level error
      </source>
      <match catalina.errors>
        @type kinesis_streams
        stream_name aws-eb-fluentd-kinesis-stream
        region us-east-1
        <buffer>
          chunk_limit_size 1m
          flush_interval 10s
          flush_thread_count 2
        </buffer>
      </match>